

.square-holder {
    padding:30px;
    border: 1px solid #cecece;
    align-items: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
    background-color:#f1f1f1;
    min-height:200px
  }
  
  .square-holder img {
    max-width:100%;
    filter: grayscale(100%);
    transition: all 0.3s;
  }
  
  .square-holder:hover img{
    filter:none;
  }
  .square-holder:hover{
    transform: scale(1.101);
    transition-delay: 50ms;
  }